<h1>自助报修</h1>
<form method="post" action="/">
    <label>问题描述</label>
    <input type="text" name="ProblemTitle" />
    <label>上传截图</label>
    <input />
    <label>紧急程度</label>
    <input type="radio" name="Level" value="一级"/>一级
    <input type="radio" name="Level" value="二级"/>二级
    <input type="radio" name="Level" value="三级"/>三级
    <label>联系电话</label>
    <input type="tel" name="Telephone"/>
    <label>房间号</label>
    <input type="text"name="Location"value="B座219"/>
    <label>预约处理时间</label>
    <input type="date"name="ExpectTime"/>
    <label>处理状态</label>
    <input type="text"name="Contion"/>
</form>