<h1>找回密码</h1>
<form action="/User/FindPassword" method="post">
    <label>账号</label>
    <input type="text" name="RuiJieId"/>
    <label>移动电话</label>
    <input type="tel" name="Telphone"/>
    <input type="submit" value="提交"/>
</form>