<h1>欢迎登陆</h1>
<form method="post" action="~/User/LoginData">
    <label>账号</label>
    <input type="text" name="RuiJieId" /><br>
    <label>密码</label>
    <input type="password" name="password"/><br>
    <a href="/User/Register">自主注册</a>
    <a href="">忘记密码</a><br>
    <input type="submit" value="登陆"/>

</form>